<mat-card class="favorite-card">
  <div class="card-content">
    <div class="left-content">
      <div class="icon-wrapper">
        <mat-icon
          (mouseenter)="onMouseEnter()"
          (mouseleave)="onMouseLeave()"
          (click)="facade.toggleFavorite(favorite())"
        >
          {{ iconName }}
        </mat-icon>
      </div>
      <div class="info">
        <h3>{{ favorite().title }}</h3>

        <p>{{ favorite().url }}</p>
      </div>
    </div>

    <button mat-icon-button color="warn" (click)="facade.removeLink({ id: favorite().id })">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>
