<h2 mat-dialog-title>Add new link</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="form">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>

      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>URL</mat-label>

      <input matInput formControlName="url" />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>

  <button mat-flat-button (click)="submit()">Save</button>
</mat-dialog-actions>
